@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: RomanWoodTypeJNL, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @font-face {
    font-family: 'RomanWoodTypeJNL';
    src: url('../RomanWoodTypeJNL.woff2') format('woff2'),
        url('../RomanWoodTypeJNL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}
 